
.header {
  background-color: tan;
  padding: 30px;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: #154d2e;
  height: 55px;
}
.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 30px;
  border-color: black;
}
.navbar a:hover {
  background-color: #789687;
  color: black;
  border: solid 2px black;
}
.navbar a.active {
  background-color: #3e8c65;
  color: white;
  border: solid 2px black;
}
article {
  display: flex;
  justify-content: center;
}
main {
  padding: 50px;
}
img {
  max-width: 80%;
  border: 2px solid black;
  justify-content: center;
}
label {
  align-content: center;
  margin-right: 0px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
#homePageTitle {
  padding-top: 50px;
  padding-bottom: 5px;
}
body {
  background-color: wheat;
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#homePageCardsDiv {
  display: flex;
  justify-content: space-around;
}
#homePageLinksDiv {
  display: flex;
  justify-content: space-evenly;
}
#mountainsPageMainTag {
  display: flex;
  justify-content: center;
}
.mountainsCard {
  display: flex;
  justify-content: center;
}
.mountainsCardContent {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #495e51;
  color: black;
  max-height: 100%;
  width: 500px;
  border: 10px solid black;
  margin: 100px;
}
.mountainsCardParagraph {
  justify-content: space-evenly;
  margin: 10px;
}
.cardParagraphTextSize {
  font-size: 20px;
  max-width: 100%;
}
#cardImage {
  justify-content: center;
}
#nationalParkSearherForm {
  border: solid 3px gray;
  padding: 20px;
  width: 50%;
  margin: auto;
  background-color: sandybrown;
}

#parkTableDiv {
  display: flex;
  justify-content: center;
}

#parkSearcherTable {
  border-collapse: collapse;
}
th,
td {
  width: 100px;
  border: 3px solid black;
  background-color: white;
}
select {
  height: 50px;
  width: 250px;
  background-color: silver;
}
